@import "tailwindcss";
@import url("./Style/reset.css");
@font-face {
  font-family: vazir;
  src: url("./../public/font/vazir-font-v16.1.0/Vazir-Medium.woff");
}

body {
  font-family: "vazir";
}

@theme {
  --color-primary-100: #2b5ae5;
  --color-primary-200: #f0f5fe;
  --color-primary-300: #96bffa;

  --text-md: 15px;
  --breakpoint-x: 400px;
  --breakpoint-xs: 468px;
  --breakpoint-md: 548px;
  --breakpoint-mmd: 768px;
  --breakpoint-s: 200px;
  --text-x: 10px;
  --text-xs: 12px;
  --text-xxs: 14px;
  --text-md: 15px;
}

.container-custom {
  /* padding: 0 24px 0 24px; */
  width: 96%;
  margin: 0 auto;
}

@media screen and (min-width: 1250px) {
  .container-custom {
    /* padding: 0 24px 0 24px; */
    width: 1260px;
    margin: 0 auto;
  }
}
